{% extends "products/base.html" %}
{% load static %}
{% block content %}
  <div class="untree_co-section before-footer-section">
    <div class="container">
      <div class="row mb-5">
        <form class="col-md-12" method="post">
          <div class="site-blocks-table">
            <table class="table" id="cartTable">
              <thead>
                <tr>
                  <th class="product-name">Product</th>
                  <th class="product-price">Price</th>
                  <th class="product-quantity">Quantity</th>
                  <th class="product-total">Total</th>
                  <th class="product-remove">Remove</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row mb-5">
            <div class="col-md-6 mb-3 mb-md-0">
              <button class="btn btn-black btn-sm btn-block" id="save-cart">Save Cart</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-outline-black btn-sm btn-block">Continue Shopping</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label class="text-black h4" for="coupon">Coupon</label>
              <p>Enter your coupon code if you have one.</p>
            </div>
            <div class="col-md-8 mb-3 mb-md-0">
              <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
            </div>
            <div class="col-md-4">
              <button class="btn btn-black">Apply Coupon</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 pl-5">
          <div class="row justify-content-end">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12 text-right border-bottom mb-5">
                  <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <span class="text-black">Subtotal</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black">$<span id="cartSubTotal">0</span></strong>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-6">
                  <span class="text-black">Total</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black">$<span id="cartTotal">0</span></strong>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-black btn-lg py-3 btn-block" onclick="window.location='{% url 'carts:checkout' %}'">Proceed To Checkout</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript">
    console.log("hello world")
    $(document).ready(function() {
      "use strict";
      console.log("cart list page")
      displayCartTable();

      $("#cartTable tbody").on("click", ".plus-item", function(event) {
        event.preventDefault()
        console.log("clicked plus-item")
        const itemId = $(this).data("id");
        shoppingCart.updateItemCount(itemId, 1);
        displayCartTable()
      });

      $("#cartTable tbody").on("click", ".subtract-item", function(event) {
        event.preventDefault();
        console.log("clicked subtract-item")
        const itemId = $(this).data("id");
        shoppingCart.updateItemCount(itemId, -1);
        displayCartTable()
      });

      $("#cartTable tbody").on("click", ".remove-product", function(event) {
        event.preventDefault();
        const itemId = $(this).data("id");
        shoppingCart.removeProductFromCart(itemId);
        displayCartTable()
      });
        $("#save-cart").click(function() {
            const cartItems = shoppingCart.listItemInCart();
            console.log("-------", typeof cartItems);
            console.log(cartItems);
            $.ajax({
                type: "POST",
                url: "{% url 'carts:save' %}",
                dataType: "json",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                data: {
                    cart: JSON.stringify(cartItems),
                },
                success: function(data, status, settings) {
                    console.log("ajax POST success");
                    console.log(data, status, settings);
                    if (data["status"] === 302) {
                        window.location.href = "{% url 'login' %}?next=" 
                            + encodeURIComponent("{% url 'carts:list' %}");
                    }
                },
                error: function(xhr, errmsg, err) {
                    console.log("Error:", xhr.status + ": " + xhr.responseText);
                    console.log(errmsg)
                }
            });
        });
    });

    function displayCartTable() {
      const cartItems = shoppingCart.listItemInCart();
      let output = "";
      for (let i in cartItems) {
        const item = cartItems[i];
        const itemTotalCost = shoppingCart.getItemTotalCost(i);
        console.log(item);
        output += '<tr>';
        output += '<td class="product-name"><h2 class="h5 text-black">' + item.name + '</h2></td>';
        output += '<td class="itemPrice">' + item.price + '</td>';
        output += '<td><div class="input-group mb-3 d-flex align-items-center quantity-container" style="max-width: 120px;">';
        output += '<div class="input-group-prepend subtract-item" data-id=' + item.id + '>';
        output += '<button class="btn btn-outline-black decrease" type="button">&minus;</button>'
        output += '</div><input type="text" class="form-control text-center quantity-amount" value="' + item.count;
        output += '" placeholder="" aria-label="button with label" aria-describedby="button-addon1">';
        output += '<div class="input-group-append plus-item" data-id=' + item.id + '>';
        output += '<button class="btn btn-outline-black increase" type="button">&plus;</button></div></div></td>';
        output += '<td class="itemTotal">' + itemTotalCost + '</td>';
        output += '<td class="remove-product" data-id=' + item.id +'><a href="#" class="btn btn-black btn-sm">X</a></td></tr>';
      }
      $("#cartTable tbody").html(output);

      $("#cartTotal").text(shoppingCart.getTotalCartCost())
      $("#cartSubTotal").text(shoppingCart.getTotalCartCost())

      console.log("triggering new event ", shoppingCart.getCartCount())
      $(document).trigger('UpdateTotalCountEvent', shoppingCart.getCartCount())

    }
	</script> 
{% endblock scripts %}
