{% extends "products/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h1>Profile user name: {{ user.username }}</h1>
    </div>
{% endblock content %}