{% load static %}
<!-- Start Header/Navigation -->
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

    <div class="container">
        <a class="navbar-brand" href="index.html">Furni<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <!-- <li class="nav-item ">
                    <a class="nav-link" href="index.html">Home</a>
                </li> -->
                <li class="active"><a class="nav-link" href="{% url 'products:list' %}">Shop</a></li>
                <!-- <li><a class="nav-link" href="about.html">About us</a></li>
                <li><a class="nav-link" href="services.html">Services</a></li>
                <li><a class="nav-link" href="blog.html">Blog</a></li>
                <li><a class="nav-link" href="contact.html">Contact us</a></li> -->
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                {% if user.is_authenticated %}
                    <li><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
                    <li><a class="nav-link" href="{% url 'logout' %}"><img src="{% static 'products/images/logout.svg' %}"></a></li>
                {% else %}
                    <li><a class="nav-link" href="{% url 'login' %}"><img src="{% static 'products/images/user.svg' %}"></a></li>
                {% endif %}
                <li><a class="nav-link" href="{% url 'carts:list' %}"><img class="me-1" src="{% static 'products/images/cart.svg' %}"><span id="cart-item-count">0</span></a></li>
            </ul>
        </div>
    </div>
        
</nav>
