{% extends "products/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
{% if product %}
    <ul>
        <li>{{ product.name }}</li>
        <li>{{ product.description }}</li>
        <li>{{ product.price }}</li>
        <li>{{ product.id }}</li>
    </ul>
{% endif %}
{% endblock content %}