{% extends "products/base.html" %}
{% load static %}
{% block content %}
<div class="untree_co-section product-section before-footer-section">
	<div class="container">
		<div class="row">
			{% for product in product_list %}
				<div class="col-12 col-md-4 col-lg-3 mb-5">
					<div class="product-item">
						<a href="{% url 'products:detail' product.id %}">
							<img src="{{ product.image.url }}" class="img-fluid product-thumbnail">
							<h3 class="product-title">{{ product.name }}</h3>
							<strong class="product-price">{{ product.price }}</strong>
						</a>
						<span class="icon-cross add-to-cart" data-id="{{ product.id }}" data-name="{{ product.name }}" data-price="{{ product.price }}">
							<a>
								<img src="{%static 'products/images/cross.svg' %}" class="img-fluid">
							</a>
						</span>
                        <p>{{product.user}}</p>
					</div>
				</div> 
			{% endfor %}
		</div>
	</div>
</div>

{% endblock content %}

{% block scripts %}
	{% comment %} gather all the scripts from parent html (base.html) {% endcomment %}
	{% comment %} reference:
	https://stackoverflow.com/questions/31202918/django-jquery-handling-template-inheritence-and-js-files-loading {% endcomment %}
	{{ block.super }}
	<script type="text/javascript">
		$(document).ready(function() {
			"use strict";
			$(".add-to-cart").on('click', function(event) {
				const itemId = $(this).data("id");
				const itemName = $(this).data("name");
				const itemPrice = $(this).data("price");
				shoppingCart.addItemToCart(itemId, itemName, itemPrice, 1);
				let itemsInCart = shoppingCart.listItemInCart();
				console.log("itemsInCart: ", itemsInCart);
				console.log("cartCount: ", shoppingCart.getCartCount());

				console.log("triggering new event ", shoppingCart.getCartCount())
        		$(document).trigger('UpdateTotalCountEvent', shoppingCart.getCartCount())

			});

		});
	</script>
{% endblock scripts %}
